*, *:before, *:after {
  box-sizing: border-box;
}


@font-face {
  font-family: "InfraExtraBoldItalic";
  src: local("InfraExtraBoldItalic"),
   url("./font/InfraExtraBoldItalic.otf") format("opentype");
  
  }


html {
  scroll-behavior: smooth;
}
body{
  background-color: black ;
  font-family: "InfraExtraBoldItalic";
  color: #fd6459;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  align-items: center;

  
}

.dot {
  margin-top:5px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

li{
  list-style: none;
  display: inline-block;
  padding: 3px;
  font-size: 19px;
  color: #fd6459;
}
 li .img-fluid{
   
   width: 20px;
   
   height: auto;
 }

.header{
  align-items: center;
  text-align: center;
  color: #fd6459;
}


.poutline{
  background-color: transparent;
  color: #fd6459;
  font-size: 19px;
  border: 0px;
}
  

.fab{
  color:#fd6459
}

.wallet{
  text-transform: capitalize;
  font-size: 19px;
}

@media screen and (max-width: 630px) {
  .wallet{
    font-size: 10px;
  }
  .dot{
  margin-left: -40px;
  }
}
  

