*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body{
  background-color: black ;
  font-family: "Baloo 2", sans-serif;
 
  text-rendering: optimizeLegibility;

  
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

li{
  list-style: none;
  display: inline-block;
  padding: 3px;
  font-size: 1.5em;
}

.header{
  align-items: center;
}